{
    "presets": [
        "@babel/preset-react", ["@babel/preset-env", {
            "useBuiltIns": "entry",
            "targets": {
                "chrome": "28",
                "firefox": "43",
                "ie": "11",
            }
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties", ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }],
        ["module-resolver", {
            "root": ["./src/js"],
        }],
        "@babel/plugin-proposal-object-rest-spread"
    ]
},