######### Python
*.pyc

######### C
*.o
*.so

######### MacOS
.DS_Store

######### Windows
ehthumbs.db
Icon?
Thumbs.db

######### Eclipse
.project
.pydevproject
.settings

######### Unit test / coverage reports
.coverage
.tox
nosetests.xml

######### 
my.ini
*.pid
*.log
i18n/*.po~

#################Frontend##########
node_modules

###### PyCharm #######
.idea

###### Visual Studio Code #######
.history

###### Python mati ego cache #######
.cache