{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 2,
    "useTabs": true,
    "printWidth": 90,
    "trailingComma": "es5",
    "jsxMaxPropsPerLine": 0,
    "jsxBracketSameLine": true,
    "bracketSpacing": true
}