body {
    position: relative;
    background-color: #FFF;
    .wrapper {
        .page {
            .content-wrapper {
                clear: both;
                overflow: hidden;
                position: relative;
            }
        }
    }
}

*, ::after, ::before {
    box-sizing: border-box;
}
