.tessera_base, .tessera_base_dark, .tessera_base_oro, .tessera_base_rosa, .tessera_base_big, .tessera_base_big_dark, .tessera_base_big_oro, .tessera_base_big_rosa, .tessera_base_mbb, .tessera_base_seimia, .tessera_base_cubiamo {
  position: relative;
  display: block;
  float: left;
  width: 50px;
  height: 96px;
  margin-left: -3px;
  margin-top: 0px;
  background-image: url('../img/bracciale/j/tessera_base.png');
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  overflow: visible !important;
}
