#step3 {
  background-color: #FFFFFF;
  min-height: 600px;
  margin-bottom: 300px;
  #fixed_bracciale {
    position: relative;
    height: 340px;
    transform: translateZ(0);
    #container_bracciale {
      position: absolute;
      display: block;
      top: 198px;
      width: 100%;
      text-align: center;
      padding: 0px 10px 10px;
      margin-bottom: 50px;
      background: url('../img/ombra.png') bottom 38px center no-repeat;
      height: 131px;
      #bracciale {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        height: 131px;
        margin: 0 auto;
        .tessera_base_big_dark {
          background-image: url('../img/bracciale/tessera_base_big_dark.png');
        }
      }
    }
  }
}
